.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/tp-sala-de-juegos-diazgiossol.appspot.com/o/background.svg?alt=media&token=dc633112-e417-4d83-85cd-769218c72573);
  background-repeat: no-repeat;
  background-size: cover;
}


.game-info h1 {
  color: #f8f8f8;
}

h3{
  color: #f8f8f8;
}

div {
    text-align: center;
  }
  
  button {
    margin-top: 5px;
    margin-left: 5px;
  }

  .ahorcado-img{
    width: 400px;
    height: auto;
  }
  
  .back-button {
    border: 0;
    background-color: #313131ef;
    color: #f8f8f8;
    font-family: inherit;
    padding: 16px 26px;
    font-size: 16px;
    border-radius: 40px;
    font-family: "Euclid Circular A", "Poppins";
    cursor: pointer;
    margin-top: 20px;
}

.navbar-custom {
  position: fixed;
  top: 0; 
  right: 0; 
  padding: 10px 20px;
  z-index: 1000;
  display: flex;
  align-items: center; 
}

.navbar-custom a{
  color: #f3f3f3;
  text-decoration: none;
  cursor: pointer;
  display: flex; 
  align-items: center;
}

.user-photo{
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.logout-button{
  margin-left: auto;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  color: #f3f3f3;
  display: flex; 
  align-items: center;
  position: relative;
  font-family: "Euclid Circular A", "Poppins";

  i.fa {
      font-size: 1.5rem; 
      margin-right: 0.5rem; 

    }
}

.dropdown-content {
  position: absolute;
  top: calc(65% + 10px);
  right: 0;
  text-align: center;
  border-radius: 0.313rem; 
  padding: 0.2rem; 
  min-width: 10rem; 

  button {
    width: 100%;
    border: none;
    background: transparent;
    color: #f3f3f3;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    transition: background-color 0.3s;
  }

}

.logout-button:hover + .dropdown-content {
  display: block;
}
  


