.login-container {
    max-width: 300px;
    margin: 275px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    text-align: center;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    // background: #efecff;
    // background-size: 16px 16px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/tp-sala-de-juegos-diazgiossol.appspot.com/o/background.svg?alt=media&token=dc633112-e417-4d83-85cd-769218c72573);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Euclid Circular A", "Poppins";
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: small;
    text-transform: uppercase;
    font-size: 0.7em;
    margin-bottom: 0.35em;
  }

  
  input[type="text"],
  input[type="password"] {
    width: 85%;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-shadow: inset -1px -1px 3px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  button {
    background: linear-gradient(90deg, #7167dd, #5448de);
    width: 98%;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 6px;
  }
  
  button,
  input[type="text"],
  input[type="password"] {
    margin-left: auto;
    margin-right: auto;
    display: block; 
    width: 95%; 
  }

  .botones-color {
    //background-color: #7E5AF1;
    background: linear-gradient(90deg, #7167dd, #5448de);
    width: 95%;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 6px;
  }