
<body>
    <div class="login-container">
      
      <div class="form-group">
      <h2>Registro</h2>
      </div>
      
      <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Nombre de usuario:</label>
            <input type="text" id="email" formControlName="email" placeholder="Email">
          </div>
          
          <div class="form-group">
            <label for="clave">Contraseña:</label>
            <input type="password" id="password" formControlName="password" placeholder="Contraseña">
          </div>  

          <!-- <div class="form-group">
            <label for="password">Contraseña:</label>
            <div class="input-group">
              <input type="{{ hidePassword ? 'password' : 'text' }}" id="password" formControlName="password" placeholder="Contraseña">
              <div class="input-group-append">
                <span class="input-group-text" (click)="togglePasswordVisibility()">
                  <i class="fa" [ngClass]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                </span>
              </div>
            </div>
          </div> -->

          <div class="form-group">
            <label for="clave">Repetir Contraseña:</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Repetir Contraseña">
          </div>

          <button type="submit" [disabled]="formReg.invalid">Registrar</button>
          <input type="button" [value]="btnVolver" [class]="['botones-color']" (click)="onClick($event)"/>
      
        </form>
  </div>
</body>