
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/tp-sala-de-juegos-diazgiossol.appspot.com/o/background.svg?alt=media&token=dc633112-e417-4d83-85cd-769218c72573);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Euclid Circular A", "Poppins";
  }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  border: 1px solid #e1e1e1; 
  border-radius: 8px; 


  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;


  margin: 10px;
  padding: 20px;
}

.card .card-header {
  background-color: #ffffff;
  border-bottom: 1px solid #e1e1e1; 
  padding: 10px 0; 
  font-weight: bold; 
}

.card .card-subtitle {
  background-color: #ffffff;
  border-bottom: 1px solid #e1e1e1;
  font-size: 18px; 
  font-family: "Euclid Circular A", "Poppins";
  margin-bottom: 10px; 
}

.button-container {
  border: 0;
  background-color: #5448de; 
  color: #ffffff; 
  font-family: "Euclid Circular A", "Poppins";
  padding: 12px 24px; 
  font-size: 16px;
  border-radius: 4px; 
  cursor: pointer;
  text-align: center; 
  transition: background-color 0.3s ease-in-out;


  &:hover {
    background-color: #4338cb;
  }
}